@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share&display=swap");
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  /* background-color: crimson; */
  font-family: "Open Sans", sans-serif;
}
.nav__item a {
  color: black;
}
.logo a {
  color: black;
  font-size: 35px;
  font-weight: 600;
  font-family: "Spartan", sans-serif;
}

.nav__item {
  list-style: none;
  display: inline-block;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; */
  padding: 0 80px;
  margin: 0 auto;
  background-color: rgb(205, 240, 240);
  height: 50px;
}
.nav__item a {
  font-size: 18px;
  font-weight: 800;
}
.nav__item a:hover {
  color: rgb(191, 153, 140);
}
.intro {
  text-align: center;
  background-color: #0a7e8c;
  color: white;
}
.about-me {
  text-align: center;
  background-color: rgb(68, 111, 111);
  color: white;
}
.my-work {
  height: 400px;
  text-align: center;
  background-color: rgb(123, 136, 102);
  color: white;
}
.portfolio {
  max-width: 1400px;
  height: 300px;
  background-color: lightgray;
  margin: 0 20px;
}
header {
  height: 90px;
}
.logo {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: rgb(236, 201, 208);
}
.landing-wrapper {
  height: 40px;
}
.section__title {
  font-family: "Trispace", sans-serif;
  margin: 0px;
}
.section__subtitle--intro {
  font-family: "Yomogi", cursive;
}
.intro-paragraph {
  font-family: "Share", cursive;
  text-align: justify;
  margin: 0 60px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.social-list {
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

@media screen and (max-width: 560px) {
  .nav__list {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    flex-direction: column;
    /* max-width: 1200px; */
    padding: 0 80px;
    margin: 0 auto;
    background-color: rgb(205, 240, 240);
    height: 100px;
  }
  header {
    height: 140px;
  }
  .section__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
}
/* .normal1 {
    height: 150px;
    width: 150px;
    border: 5px solid red;
  }
.normal {
  height: 150px;
  width: 150px;
  padding: 50px;
  border: 5px solid red;
}
.border-box {
  height: 150px;
  width: 150px;
  padding: 50px;
  border: 5px solid red;
  box-sizing: border-box;
} */
