@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  height: 3000px;
}
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  /* background-color: crimson; */
  font-family: "Open Sans", sans-serif;
}
.nav__item a {
  color: black;
}
.logo a {
  color: black;
  font-size: 35px;
  font-weight: 600;
  font-family: "Spartan", sans-serif;
}

.nav__item {
  list-style: none;
  display: inline-block;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; */
  padding: 0 80px;
  margin: 0 auto;
  background-color: rgb(205, 240, 240);
  height: 50px;
}
.nav__item a {
  font-size: 18px;
  font-weight: 800;
}
.nav__item a:hover {
  color: rgb(191, 153, 140);
}
.intro {
  text-align: center;
  background-color: #0a7e8c;
  color: white;
}
.about-me {
  text-align: center;
  background-color: rgb(68, 111, 111);
  color: white;
}
.my-work {
  text-align: center;
  background-color: rgb(123, 136, 102);
  color: white;
}
.portfolio {
  max-width: 1400px;
  background-color: lightgray;
  margin: 0 20px;
  text-align: center;
}
header {
  height: 90px;
}
.logo {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: rgb(236, 201, 208);
}
.landing-wrapper {
  height: 40px;
  background-color: rgb(236, 201, 208);
}
.section__title {
  font-family: "Trispace", sans-serif;
  margin: 0px;
}
.section__subtitle--intro {
  font-family: "Yomogi", cursive;
}
.intro-paragraph {
  font-family: "Share", cursive;
  text-align: justify;
  margin: 0 60px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(237, 82, 82);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
  color: white;
}
.social-list {
  text-align: center;
}
.work1 {
  background-color: rgb(149, 156, 156);
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 50px;
}
.work2 {
  background-color: rgb(149, 156, 156);
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 50px;
}
.work3 {
  background-color: rgb(149, 156, 156);
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 50px;
}
.work4 {
  background-color: rgb(149, 156, 156);
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 50px;
}
.contact
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: 'Alata', sans-serif;
 background-color:#AED6F1;
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;	
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#1B4F72;
}
#wrapper h1 p
{
 font-size:18px;
}
#contact_form_div
{
 width:330px;
 margin-left:320px;
 padding:10px;
 background-color:#1B4F72;
}
#contact_form_div #contact_label
{
 margin:15px;
 margin-bottom:30px;
 font-size:25px;
 font-weight:bold;
 color:white;
 text-decoration:underline;
}
#contact_form_div input[type="text"]
{
 width:230px;
 height:40px;
 border-radius:2px;
 font-size:17px;
 padding-left:5px;
 border:none;
}
#contact_form_div textarea
{
 width:230px;
 height:70px;
 border-radius:2px;
 font-size:17px;
 padding: 5px;
}
#contact_form_div input[type="submit"]
{
 width:230px;
 height:40px;
 border:none;
 border-radius:2px;
 font-size:17px;
 background-color:#85C1E9;
 border-bottom:3px solid #3498DB;
 color:#1B4F72;
 font-weight:bold;
}
.fa {
  padding: 10px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

@media screen and (max-width: 560px) {
  .nav__list {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    flex-direction: column;
    /* max-width: 1200px; */
    padding: 0 80px;
    margin: 0 auto;
    background-color: rgb(205, 240, 240);
    height: 100px;
  }
  header {
    height: 140px;
  }
  .section__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  .work1 {
    background-color: rgb(149, 156, 156);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work2 {
    background-color: rgb(149, 156, 156);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work3 {
    background-color: rgb(149, 156, 156);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work4 {
    background-color: rgb(149, 156, 156);
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
 
}


@media screen and (max-width: 420px) {
  .fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
  }
}

/* Contact Form Responsive Code */
@media only screen and (min-width:700px) and (max-width:995px)
{
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:30px;
 }
 #contact_form_div
 {
  width:50%;
  margin-left:25%;
  padding-left:0px;
  padding-right:0px;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
 }
 #contact_form_div textarea
 {
  width:80%;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
 }
} 
@media only screen and (min-width:601px) and (max-width:699px)
{
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:10px;
 }
 #contact_form_div
 {
  width:60%;
  margin-left:20%;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
  font-size: 15px;
 }
 #contact_form_div textarea
 {
  width:80%;
  font-size: 15px;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
  font-size: 15px;
 }
 #contact_form_div #contact_label
{
 font-size:20px;
}
}
@media only screen and (min-width:441px) and (max-width:600px)
{
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:10px;
 }
 #contact_form_div
 {
  width:60%;
  margin-left:20%;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
  font-size: 12px;
 }
 #contact_form_div textarea
 {
  width:80%;
  font-size: 12px;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
  font-size: 12px;
 }
 #contact_form_div #contact_label
{
 font-size:17px;
}
/* .logo a {
  color: black;
  font-size: 30px;
  font-weight: 600;
  font-family: "Spartan", sans-serif;
} */
/* .nav__item a {
  font-size: 15px;
  font-weight: 800;
} */
}
@media only screen and (min-width:100px) and (max-width:440px)
{
 #wrapper
 {
  width:100%;
 }
 #wrapper h1
 {
  font-size:25px;
 }
 #contact_form_div
 {
  width:90%;
  margin-left:5%;
  padding-left:0px;
  padding-right:0px;
 }
 #contact_form_div input[type="text"]
 {
  width:80%;
  font-size: 10px;
 }
 #contact_form_div textarea
 {
  width:80%;
  font-size: 10px;
 }
 #contact_form_div input[type="submit"]
 {
  width:80%;
  font-size: 10px;
 }
 #contact_form_div #contact_label
 {
  font-size:15px;
 }
}
@media screen and (max-width: 380px) {
  .work1 {
    background-color: rgb(149, 156, 156);
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work2 {
    background-color: rgb(149, 156, 156);
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work3 {
    background-color: rgb(149, 156, 156);
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
  .work4 {
    background-color: rgb(149, 156, 156);
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 50px;
  }
 
}

/* .normal1 {
    height: 150px;
    width: 150px;
    border: 5px solid red;
  }
.normal {
  height: 150px;
  width: 150px;
  padding: 50px;
  border: 5px solid red;
}
.border-box {
  height: 150px;
  width: 150px;
  padding: 50px;
  border: 5px solid red;
  box-sizing: border-box;
} */
